#footer_section{
    width: 100%;
    bottom:0px;
}



.footer_menu{
    color:white;
    text-transform: uppercase;
    padding-top:8px;
    padding-bottom: 8px;
}
.footer_menu li{
    float: left;
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid transparent;
    border-right:2px solid  #4b5860;
}
.footer_menu li:last-child{
    border-right:0px;
}



.footer_menu li a{
    color:#4b5860;
}

.footer_menu li:hover,.footer_menu li.active{
    border: 2px solid transparent !important;
    color:#4bcaff !important;
}

.footer_menu li a:hover{
    color:#07cb79;
    text-decoration: none;
}

#footer_section .container{
    padding-left: 0px;
}

.footer_bottom p{
    text-align: center;
}